body{
background-color: rgb(176, 139, 184); 
font-family:black;
font: 10px;
font-style: oblique;  
}
    h3{
    color: yellow;
    font:50px;
    border-top: thin;
}
table{
    border-style: solid;
    border-radius: 10px ;
    border-width: 5px;
    border-color: black ;
}
a:link{
    color:teal;
}
h5{
    border: darkgoldenrod;
    border-style: inset;
    text-decoration-color: black;
    background-color: cornflowerblue;
    
}
.mat{
    color

}
h6{
    border: darkgoldenrod;
    border-style: inset;
    text-decoration-color: black;
    background-color: bule;

}
.fam


